.left-panel-header{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: left;
    font-size: smaller;
    color: aliceblue;
    padding-right: 20px;
    background-color: transparent;
    padding-bottom: 20px;
    padding-top: 40px;
   
}

.left-panel-header h6{
    margin: 0;
    padding: 0;
    margin-left: auto;
    margin-right: auto;

}
.left-panel-category{
    background-color:transparent;
    padding-left: 50px;  
    padding-right: 0px;
    margin-top: 40px;
}
.left-panel-hr{
    background-color: #181818
}
.profile-panel{
    text-align: left;
    display: flex;
    align-items: center;
    justify-content:  left;
    height: 50px;
    padding-left: 20px;
    padding-bottom: 5px;

}
.profile-name{
    padding-left: 10px;
}
.tab-dashboard{
    width: 100%;
    height: 50px;
    padding-left: 10px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    font-size: smaller;

}
.menu{
    margin-left: 20px;
    margin-right: 20px;
}
.tab-dashboard p{
    margin: 0;
    display: flex;
    align-items: center;
    padding-left: 20px;
}
.tab-menu-title{
    font-size: small;
}
.category-item{
    height: 40px;
    font-size: smaller;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items:baseline;
    justify-content: space-between;
}
.category-item p{
    background-color: rgb(175, 36, 36);
    padding: 5px;
}
.category-item .fa-trash{
    margin-left: 7px;
    
}
.category-item-button{
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
    flex-direction: row;
}
.category-item-button button{
    outline: none;
    background-color: transparent;
    border: none;
    outline: none;
}
.fa-trash{
    color: rgb(201, 20, 20);
}
.fa-pencil-alt{
    color: rgb(190, 190, 190);
}

.category-header{
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: small;

}
.category-header p{
    width: fit-content;
    padding: 0;
    margin: 0;
}
.add-icon{
    color:rgb(247, 247, 247) ;
}
.btn-add-task{
    width: 250px;
    margin-top: 0;
    background-color: rgb(0, 140, 255);
    border: none;
    outline: none;
    text-decoration: none;
    height: 40px;
    color: aliceblue;
    border-radius: 1px;
    margin-bottom: 40px;
    margin-right: auto;
}
.category-container{
    width: 100%;
    height: 70%;
    overflow: auto;
}
.active{
    background-color: rgb(31, 31, 37);
    color: white;
}

.tab-dashboard:hover{
    background-color: rgb(53, 53, 73);
}
#meeting{
    color: #f3702e;
}
#category-work{
    color: #1d46ff;
}
#school{
    color: #de47f8;
}
#business{
    color: #40DC23;
}