.right-panel-header{
    width: 100%;
    height: 7%;
    display: flex;
    align-items: center;
    justify-content:  space-between;
    margin: 0;
    padding: 0;
    background-color: #F1F3F2;
    box-shadow: 8px 0px 8px rgb(3, 3, 3);
    padding-left: 20px;
}
.tab-title{
    color: rgb(39, 39, 39);
    font-size: large;
}
.tab-dashboard{
}
.notification-div{
    color: brown;
    display: flex;
    justify-content: space-evenly;
    width: 200px;
    align-items: center;    
}
.search-div{
    width: auto;
    background-color: rgb(224, 224, 224);
    border-radius: 20px;
    padding-right: 15px;
    color: rgb(65, 65, 65); 
}
.search-btn{
    border-radius: 15px;
}
.search-input{
    width: 300px;
    height: 35px;
    margin-left: 50px;
    text-align: center;
    border-radius: 20px;
    outline: none;
    text-decoration: none;
    border:none;
    background-color: rgb(224, 224, 224);
    
}
.navigation-div{
    color: rgb(32, 32, 32);
    width: 150px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.menu-div{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    width:25px;
    height: 25px;
    border-radius: 12.5px;
    margin: 0;
    color: brown;
   
    
}
.right-panel-conent-div{
    background-color: transparent;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: flex-start;
    margin-top: 5px;
    
}
.main-content-div{
    width: 100%;
    height: 100%;
    background-color: transparent;
    padding-left: 30px;

}
.task-today-header{
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: space-between;
    width: 100%;
    margin-top: 40px;
}
.add-task{
    background-color: transparent;
    outline: none;
    border: 0;
    color: white;
    padding: 0;

}
.task-view-div{
    width: 100%;
    overflow-y: auto;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
}
.content-div{
    display: flex;
    flex-direction: row;
    width: 100% ;
    height: 92%;
}
.task-category{
    border: 1px solid  #40DC23;;
    border-radius: 30px;
    color: #40DC23;;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 30px;
    height: auto;
    width: auto;
    text-align: center;
    font-size: xx-large;
    margin-right: auto;
}
.task-item{
    border-radius: 3px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 250px;
    height: 200px;
    padding: 20px;
    background-color: rgb(63, 63, 63);
    margin: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.452);
    color: #40DC23;;
}
.task-item-inner{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

.task-description{
    padding-right: auto;
    color: #40DC23;;
}
.task-item-description{
    font-size: small;
    color: #40DC23;;
}
.task-item-heading{
    font-size: large;
    color: #40DC23;;
}
.task-menu{
    color: #40DC23;;
}
